
body{
    font:Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    
}

#menu {
    
    height: 70px;
 /*   background: linear-gradient(#BBD7F2,#EDEBE9); */
    padding: 7px; 0px;
    text-align: center;
    
}


#menu ul li{
    
    float: left;
    padding: 10px 10px 10px 10px;
     height: 30px;
    border-right: 1px solid red;
    border-style:solid;
     border-color: yellow yellow blue yellow;
    border-radius: 20px;
    align-content: center;
   /* margin:0px auto;*/
    margin-right: 10px;
    width: 100px;
   /*  background: linear-gradient(#DCDDDF,white); */
   
}

#menu ul li a{
    
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ba1e4f;
    line-height: 30px;
    font-family: fantasy;
    
}

#menu ul li:last-child{
/* border-right: none; */
    
}

#menu ul li:hover{
    
    font-size:20px;
   
   /* font-style: italic;*/
    color:darkmagenta;
    text-decoration: underline;
   
     
   
}
#container {
    width: auto;
  /*  border: 2px grey solid;  */
   height: 100px;
    margin: 0 auto;
}



p {
    font-size: 30px;
    font-family: serif;
   
}

#company {
  float:left;
}

#shopcart {
   float:right;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
}

h1 a{
    
    font-size: 40px;
    font-weight: 200;
    color: #ba1e4f;
    text-decoration: none;
    text-shadow: 2px 2px grey;
}



.text {
    font-size: 10px;
    padding: 5px;
    color: red;
    border: 1px grey solid;

}

.submit {
    font-weight: bold;
    padding: 5px;
    color: white;
    background: white url(img/cart.png) center no-repeat;
    font-size: 15px;
    border: none;
    
}

#clear {
    clear: both;
}

.clear {
    clear:both;
    
}

.loginsubmit {
    
   font-weight: bold;
    padding: 5px  0px  5px  5px;
    color: white;
    background: white url(img/signin.png) center no-repeat;
    font-size: 15px;
    border: none;
    
}


#login {
    
    float:right;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    
}

#search {
    padding: 30px;
    margin-left:130px;
    float:center;
}

.searchtext {
    border-radius: 6px;
border: solid 1px #ba1e4f;
    font-size: 20px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
}

.search {
    background: white url(img/search.png) left no-repeat;
    font-size: 39px;
    border: none;
    width:60px;
}

#content {
    padding: 10px;
    margin: 10px 0;
    border: 1px grey solid;
}

.sidebar {
    width: 600px;
    height:500px;
    border: 1px solid grey;
    border-radius: 20px;
    
    
}

#righttsidebar {
    float:right;
}

#leftsidebar {
    float:left;
}

.footer{
    
    height:60px;
    background: linear-gradient(grey,white);
    background: -webkit-linear-gradient(grey,white);
    background: -o-linear-gradient(grey,white);
    background: -moz-linear-gradient(grey,white);
    background: -ms-linear-gradient(grey,white);
    padding:10px; 30px;
    margin-top: 15px;
}
.register-container-inner {
    width:400px;
    height: 500px;
}

.informat {
    float:left;
    margin 10px 10px;
    padding: 10px 10px;
}

#testa {
    padding: 10px 10px;
    float:right;
    margin: 10px;
    border: 1px grey solid;
}

.register-welcome {
    width: 100px;
    border: 1px grey solid;
    margin: 0px auto;
    height: 100px;
}
